pre {
    background-color: #353846;
    font-size: 18px;
    width: 1050px;
}
.pln {
    color: #FF766B;
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #8e908c
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
    padding-left: 1em;
    background-color: #fff;
    list-style-type: decimal !important;
}

.str {
    color: #718c00
}

.kwd {
    color: #3e999f
}

.com {
    color: #3e999f
}

.typ {
    color: #4271ae
}

.lit {
    color: #f5871f
}

.pun {
    color: #F2F3EF
}

.opn {
    color: #4d4d4c
}

.clo {
    color: #4d4d4c
}

.tag {
    color: #c82829
}

.atn {
    color: #f5871f
}

.atv {
    color: #3e999f
}

.dec {
    color: #f5871f
}

.var {
    color: #c82829
}

.fun {
    color: #4271ae
}